astrometry==4.1.2
astropy==6.0.1
ConfigParser==6.0.1
Cython==3.0.10
GitPython==3.1.43
imageio==2.34.0
imreg_dft==2.0.0
keras==2.14.0
matplotlib==3.8.4
numpy==1.24.3
paramiko==3.4.0
Pillow==10.3.0
pyephem==9.99
pyqtgraph==0.12.1
python_dateutil==2.9.0.post0
rawpy==0.19.1
scikit_learn==1.4.1.post1
scipy==1.13.0
tensorflow==2.14.0
tflite_runtime==2.14.0
Utils==1.0.2
