astrometry==4.1.2
astropy==6.0.0
ConfigParser==6.0.1
Cython==3.0.9
GitPython==3.1.42
imageio==2.34.0
imreg_dft==2.0.0
matplotlib==3.8.3
numpy==1.26.4
paramiko==3.4.0
Pillow==10.2.0
pyephem==9.99
pyqtgraph==0.13.4
python_dateutil==2.9.0
rawpy==0.19.1
scipy==1.12.0
tflite_runtime==2.14.0
Utils==1.0.2
